body{
  
  text-align: center;
  background-color: #212529;
}
.container{
  background-color: #343a40;
}
.imgdisplay{
  border: 1px solid black;
  height: 200px;
  width: 200px;

}

.item{
  background-color:#6c757d;
}
.imagen{
  max-height: 200px;
  max-width: 200px;
}